html
    head 
        title Language Learning App
        link(rel="stylesheet" href="/styles.css")
    body 
        include ./partials/header

        h1 Videos 
        ul 
            each video in videos
                li
                    a(href=`/videos/${video.video_id}`)= video.title
                    span  | #{formatTime(video.length_seconds)} | #{video.description} | #{video.upload_date}